@model LabExam.Models.Entities.Principal
@{
    ViewData["Title"] = "实验室安全教育在线-后台首页";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<script src="~/lib/validation/jquery.validate.min.js"></script>
<script src="~/lib/validation/messages_zh.js"></script>
<div class=" bc-clr-white border-little-grey-all padding-10px " data-height-all>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="profile" role="tab" data-toggle="tab">登录界面</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">修改个人密码</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active padding-10px" id="home">
            <div class="flex-layout ">
                <div class=" flex-item-4   bc-clr-primary margin-left-0px border-radius-6" data-min-width="230"
                     data-min-height="200">
                    <h3 class=" text-center">
                        <span class="glyphicon glyphicon-user font-color-white font-size-30">
                        </span>
                    </h3>
                    <ul class=" list-unstyled bc-clr-primary font-color-white">
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">工号: @Model.JobNumber </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">姓名:@Model.Name</li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">手机号码:@Model.Phone</li>
                    </ul>
                </div>
                <div class=" flex-item-4 bc-clr-danger margin-left-25px border-radius-6" data-min-width="230"
                     data-min-height="200">
                    <h3 class=" text-center">
                        <span class="glyphicon glyphicon-list-alt font-color-white font-size-30">
                        </span>
                    </h3>
                    <ul class=" list-unstyled bc-clr-danger font-color-white">
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            新增重考申请[未处理]: <a asp-controller="ReExam" asp-action="Index" class=" font-color-white">
                                @ViewBag.reExam
                                件
                            </a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            新增加入申请[未处理]: <a asp-controller="Application" asp-action="Index" class=" font-color-white">@ViewBag.join 件</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px"></li>
                    </ul>
                </div>
                <div class=" flex-item-4 bc-clr-warning margin-left-25px border-radius-6" data-min-width="230"
                     data-min-height="200">
                    <h2 class=" text-center">
                        <span class="glyphicon glyphicon-fire font-color-white font-size-30">
                        </span>
                    </h2>
                    <ul class=" list-unstyled bc-clr-warning font-color-white">
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            模块数量: <a asp-controller="Module" asp-action="Index" class=" font-color-white">@ViewBag.moduleCount 个模块</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            学院总数: <a asp-controller="Institute" asp-action="Index" class=" font-color-white">@ViewBag.instituteCount 个学院</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            专业数量: <a asp-controller="Profession" asp-action="Index" class=" font-color-white">@ViewBag.professionCount 个专业</a>
                        </li>
                    </ul>
                </div>
                <div class=" flex-item-4 bc-clr-info margin-left-25px border-radius-6" data-min-width="230"
                     data-min-height="200">
                    <h2 class=" text-center">
                        <span class="glyphicon glyphicon-send font-color-white font-size-30">
                        </span>
                    </h2>
                    <ul class=" list-unstyled bc-clr-info font-color-white">
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            管理员总数: <a asp-controller="Principal" asp-action="Admin" class=" font-color-white">@ViewBag.adminCount 名管理员</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            本科生总数: <a asp-controller="Manager" asp-action="List" class=" font-color-white">@ViewBag.underCount 名学生</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            研究生总数: <a asp-controller="Manager" asp-action="List" class=" font-color-white">@ViewBag.postCount 个专业</a>
                        </li>
                    </ul>
                </div>
                <div class=" flex-item-4 bc-clr-black-web margin-left-25px border-radius-6" data-min-width="230"
                     data-min-height="200">
                    <h2 class=" text-center">
                        <span class="glyphicon glyphicon-education font-color-white font-size-30">
                        </span>
                    </h2>
                    <ul class=" list-unstyled bc-clr-black-web font-color-white">
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            课程总数: <a asp-controller="Cource" asp-action="Index" class=" font-color-white">@ViewBag.courseCount 个课程</a>
                        </li>
                        <li class=" padding-left-15px padding-top-10px padding-bottom-10px">
                            资源总数: <a asp-controller="Resource" asp-action="Index" class=" font-color-white">@ViewBag.resourceCount 个教学资源</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane " id="profile">
            <form id="loginFrom" action="#" class="form-horizontal " role="form" method="post">
                <div class=" padding-left-20px margin-bottom-10px">
                    <label for="Password" class="control-label">旧密码</label>
                    <input type="text" class="form-control" data-max-width="400" id="Password" name="Password"
                           placeholder="请输入你的旧密码">
                </div>
                <div class=" padding-left-20px margin-bottom-10px">
                    <label for="NewPassword1" class="control-label">新密码</label>
                    <input type="password" class="form-control" data-max-width="400" id="NewPassword1" name="NewPassword1"
                           placeholder="请输入你的新密码">
                </div>
                <div class=" padding-left-20px margin-bottom-10px">
                    <label for="NewPassword2" class="control-label">新密码</label>
                    <input type="password" class="form-control" data-max-width="400" id="NewPassword2" name="NewPassword2"
                           placeholder="请输入你的新密码">
                </div>
                <div class=" padding-left-20px ">
                    <button type="submit" class="btn btn-primary form-control letter-space-1" data-max-width="400">
                        <span class=" glyphicon glyphicon-log-in ">
                        </span> 立即提交
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font-weight-600 font-size-14 padding-top-10px text-info">
                        拼命加载数据中 <span id="val-speed"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <img src="~/Resources/animation/Spinner-0.3s-120px.svg" width="85" class="layout-center" />
                    <p class=" text-left">
                        <span class=" glyphicon glyphicon-cloud-upload "></span>
                        <span id="data-info">疯狂拼命搬运数据中, 请勿中途关闭窗口........</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $("#loginFrom").validate({
            //错误提示信息
            messages: {
                Password: {
                    required: "密码不填写吗？",
                    minlength: "最小长度为{0}"
                },
                NewPassword1: {
                    required: "填写新密码",
                    minlength: "最小长度为{0}"
                },
                NewPassword2: {
                    required: "再次填写新密码",
                    minlength: "最小长度为{0}",
                    equalTo:"两次密码不一样！"
                }
            },
            //验证规则
            rules: {
                //使用空间 name 名称
                NewPassword1: {
                    required: true,
                    minlength: 6
                },
                Password: {
                    required: true,
                    minlength: 6
                },
                NewPassword2: {
                    required: true,
                    minlength: 6,
                    equalTo:"#NewPassword1"
                }
            },
            errorClass: "text-danger",
            submitHandler: function (form) {
                $('#program').modal('show');
                $.ajax({
                    url: "/Principal/Password",
                    type: "post",
                    dataType: "json",
                    data: {
                        password: $("#NewPassword1").val(),
                        lastPassword: $("#Password").val(),
                    },
                    success: function (json, textStatus, jqXhr) {
                        console.log(json);
                        $('#program').modal('hide');
                        if (json.isOk) {
                            window.location.href = "/Account/Login";
                        } else {
                            onMask("错误", json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络连接失败...");
                    }
                });
            }
        });
    </script>
}