@using LabExam.Models.Map
@model IEnumerable<LabExam.Models.EntitiyViews.vProfessionMap>

@{
    ViewData["Title"] = "实验室安全教育在线-专业管理";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class=" margin-5px bc-clr-white padding-10px  border-little-grey-all" data-height-all>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#professionList" aria-controls="home" role="tab" data-toggle="tab">
                专业列表
            </a>
        </li>
        <li role="presentation">
            <a href="#addprofession" aria-controls="profile" role="tab" data-toggle="tab">添加专业</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="professionList">
            <div class=" float-layout margin-bottom-10px margin-top-15px padding-10px">
                <label class="font-size-13 font-weight-500">专业名称:</label>
                <input type="text" list="InstituteName" class="border-radius-4 padding-left-10px"
                       data-width="200" data-height="25" />
                <datalist id="InstituteName" class="border-radius-4 padding-left-10px" data-width="200"
                          data-height="25">
                    <option value="软件工程">软件工程</option>
                    <option value="国际商务与贸易">国际商务与贸易</option>
                    <option value="心理学">心理学</option>
                    <option value="哲学">哲学</option>
                </datalist>
                <label class="font-size-13 font-weight-500 margin-left-10px">所属学院:</label>
                <select name="module-list" id="institute-list" class="border-radius-4 padding-left-10px select-layout"
                        data-width="200" data-height="28">

                </select>
                <a href="#" class=" float-right btn btn-primary btn-sm margin-left-10px">立即查询</a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" data-min-width="700">
                    <thead>
                    <tr>
                        <th  class=" text-center">编号</th>
                        <th>专业名称</th>
                        <th>专业类型</th>
                        <th>所属学院</th>
                        <th>状态</th>
                        <th class=" text-right">
                            操作
                        </th>
                    </tr>
                    </thead>
                    @{
                        var index = 0;
                    }
                    <tbody class="institutes-list-table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td  class=" text-center">@(++index) </td>
                                <td>@item.Name</td>
                                <td>@(item.ProfessionType == ProfessionType.PostGraduate ? "研究生专业" : "本科生专业")</td>
                                <th>@item.InstituteName</th>
                                <td>正常</td>
                                <td class=" text-right">
                                    <button data-professionId="@item.ProfessionId"  class="buttonDelete btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        删除
                                    </button>
                                    <button data-professionId="@item.ProfessionId"  class="buttonUpdate btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-search"></span>
                                        修改
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class=" text-center">
                    <div class=" float-layout bc-clr-white padding-10px ">
                        <label class=" float-left">
                            共 @ViewBag.lineCount 个专业
                        </label>
                        <div class=" float-right">
                            <button class=" btn-default btn btn-sm ">
                                <span>第</span>
                                <span class="show-page-Index">
                                    1
                                </span>
                                <span>
                                    /
                                </span>
                                <span class="show-page-Count">
                                    @ViewBag.pageCount
                                </span>
                                <span>
                                    页
                                </span>
                            </button>
                            <button class="First btn btn-success btn-sm" > <span class="glyphicon glyphicon-backward"></span>  首页</button>
                            <button class="Previous btn btn-success btn-sm"> <span class="glyphicon glyphicon-chevron-left"></span> 上一页</button>
                            <button class="Next btn btn-success btn-sm">下一页 <span class="glyphicon glyphicon-chevron-right"></span> </button>
                            <button data-pageLastIndex="@ViewBag.pageCount" class="Last btn btn-success btn-sm">尾页 <span class="glyphicon glyphicon-forward"></span> </button>
                            <select id="pageSkipNext" class=" margin-left-10px" data-height="27" data-width="45">
                                @{
                                    int _index = 1;
                                }
                                @for (; _index <= ViewBag.pageCount; _index++)
                                {
                                    <option value="@_index">@_index</option>
                                }
                            </select>
                            <button class="pageSkip btn btn-sm btn-primary">跳转</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane " id="addprofession">
            <form role="form" class="layout-center margin-top-40px " data-width="400">
                <div class="form-group">
                    <label for="name">专业名称:</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称" data-width="400">
                </div>
                <div class="form-group">
                    <label for="name">所属学院:</label>
                    <select name="InstituteSelect" id="InstituteSelect" class="form-control border-radius-4 padding-left-10px select-layout"
                            data-width="400">

                    </select>
                </div>
                <div class="form-group">
                    <label for="name">专业类型:</label>
                    <select name="module" id="module" class="form-control border-radius-4 padding-left-10px select-layout"
                            data-width="400">
                        <option value="1">研究生专业</option>
                        <option value="2">本科生专业</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary margin-top-20px form-control" data-width="400">立即提交</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        (function loadInstitute() {
            $.ajax({
                url: "/Institute/List",
                type: "post",
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    $("#InstituteSelect")
                        .append('<option value="-1">所有学院</option>');
                    $("#institute-list")
                        .append('<option value="-1">所有学院</option>');
                    for (var index in data) {
                        $("#InstituteSelect")
                            .append(`<option value="${data[index].instituteId}">${data[index].name}</option>`);
                        $("#institute-list")
                            .append(`<option value="${data[index].instituteId}">${data[index].name}</option>`);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", errorThrown);
                }
            });
        })();
    </script>
}
