@model LabExam.Models.StudentViewModel
@{
    ViewData["Title"] = "实验室安全教育在线-学生主页";
    Layout = "~/Views/Shared/_Student.cshtml";
}
<script src="~/lib/mustache/mustache.min.js"></script>
<style>
    @@media screen and (min-width:1100px) {
        #student-info {
            margin-left: -25px;
        }
    }
    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: cornflowerblue;
    }
</style>
<div class=" container margin-top-15px ">
    <div class=" padding-15 border-thumali bc-clr-white">
        <div class="row">
            <div class=" col-md-2 col-sm-2" title="想换头像吗？ 不可能的！考个试 有必要换头像吗？">
                <img src="~/Resources/Image/Icon/@Model.HeadPortrait" style="display:block;" class="img-hover-func img-circle img-thumbnail dispaly-center"  width="100">
            </div>
            <div class="col-md-3 col-sm-3" id="student-info">
                <div class="title-student-name padding-top-15px " title="你摸到自己的名字了">
                    <span class="glyphicon glyphicon-user"></span>
                    @Model.Name - 同学 [@Model.StudentId]
                </div>
                <div class=" padding-top-20px ">
                    <span class="glyphicon glyphicon-education"></span>
                    <span class="word-one padding-right-10px" title="看不出来吗 你是@{ @Model.Sex}生欸 (～￣▽￣)→))*￣▽￣*)o">@{ @Model.Sex}</span>

                    <span class="
                            title-name-little">
                        @(Model.Grade)级 @Model.StudentType
                    </span>
                    <span class="glyphicon glyphicon-text-color"></span>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 float-layout">
                <div class=" padding-15 float-right">
                    <div class="follows-item">
                        <b>@(Model.LearningTime)M</b><br />
                        <span>学习时长</span>
                    </div>
                    <div class="follows-item">
                        <b>@(Model.MaxScore)分</b><br />
                        <span>最好成绩</span>
                    </div>
                    <div class="follows-item">
                        <b>@Model.IsPass</b><br />
                        <span>是否通过</span>
                    </div>
                    <div class="follows-item">
                        <b>@Model.ExamTime</b><br />
                        <span>考试次数</span>
                    </div>
                    <div class="follows-item" title="就是说，你申请重考的次数啊！">
                        <b>@Model.ApplicationTime</b><br />
                        <span>申请次数</span>
                    </div>
                    <div class="follows-item">
                        <a  asp-controller="Student" asp-action="Person" target="_blank" class="capsule "> <span class="glyphicon glyphicon-cog"></span> 个人中心</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container ">
    <div class="margin-top-15px margin-bottom-55px  border-thumali bc-clr-white" data-min-height="1000" >
        <nav class="nav-list ">
            <a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> 个人动态</a>
            <a href="#ios" data-toggle="tab"><span class="glyphicon glyphicon-expand"></span>学习课程</a>
            <a href="#jmeter" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span>考试记录</a>
            <a href="#ejb" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> 个人申请</a>
        </nav>
        <div id="myTabContent " class="tab-content padding-15 ">
            <div class="tab-pane fade overflow-y-scroll in active " id="home"  data-max-height="1000">

            </div>
            <div class="tab-pane fade " id="ios">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>所属模块: @ViewBag.ModuleName</small>
                </h4>
                <div id="course-table">
                    
                </div>
            </div>
            <div class="tab-pane fade" id="jmeter">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>
                        考试次数:@Model.ExamTime <span class=" margin-left-15px">最好成绩:</span> <label class=" label label-primary"> @Model.MaxScore</label> 分
                    </small>
                </h4>
                <div id="paper-items">

                </div>
            </div>
            <div class="tab-pane fade" id="ejb">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>申请重考次数:@Model.ApplicationTime </small>
                </h4>
                <div id="application-list">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="application-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">

    </div>
</div>
<script id="detail-template" type="x-tmpl-mustache">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title font-weight-600 padding-top-10px text-info" id="myModalLabel">申请信息详情</h4>
        </div>
        <div class="modal-body" data-min-height="300">
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">昵称</span>
                    <span class="student-info-show-value border-light-down "> {{name}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">年级</span>
                    <span class="student-info-show-value border-light-down "> {{grade}} 级</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">学号</span>
                    <span class="student-info-show-value border-light-down "> {{id}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">性别</span>
                    <span class="student-info-show-value border-light-down "> {{sex}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">身份</span>
                    <span class="student-info-show-value border-light-down "> {{type}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">学院</span>
                    <span class="student-info-show-value border-light-down "> {{insName}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">专业</span>
                    <span class="student-info-show-value border-light-down "> {{proName}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">电子邮件</span>
                    <span class="student-info-show-value border-light-down "> {{email}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">考试次数</span>
                    <span class="student-info-show-value border-light-down "> {{examTime}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">学习时长</span>
                    <span class="student-info-show-value border-light-down "> {{learing}}分钟</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">最高分数</span>
                    <span class="student-info-show-value border-light-down "> {{score}}</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">申请原由</span>
                    <span class="student-info-show-value border-light-down ">
                        {{reason}}
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
        </div>
    </div>
</script>                

<div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-15 padding-top-10px text-primary">删除提示</h4>
            </div>
            <div class="modal-body">
                <p class=" text-primary font-size-14">
                    你确定要删除此资源信息吗?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="deleteButton">
                    <span class=" glyphicon glyphicon-trash "></span>
                    立即删除
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class=" glyphicon glyphicon-folder-close "></span>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>                
@section Scripts
{
    <script>
        $("#home").load("/Student/Log");
        $("#course-table").load("/Student/Course");
        $("#paper-items").load("/Student/Paper");
        $("#application-list").load("/Student/ReApplications");

        $('#application-list').on('click', ".delete-button", null, function (jqEvent) {
            $('#delete-dialog button:eq(1)').prop("disable", false);
            $('#delete-dialog button:eq(1)').attr("data-item-id", $(this).attr("data-item-id"));
            $('#delete-dialog').modal('show');
         });

        $('#delete-dialog button:eq(1)').click(function (jqEvent) {
            var id = $(this).attr('data-item-id');
            $('#delete-dialog button:eq(1)').prop("disable", true);
            $.ajax({
                url: "/Student/DeleteApp",
                type: "post",
                dataType: "json",
                data: {
                    apId: id
                },
                success: function (json, textStatus, jqXhr) {
                    $('#delete-dialog').modal('hide');
                    if (json.isOk) {
                        $("#application-list").load("/Student/ReApplications");
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });

        $('#application-list').on('click',
            ".detail-button",
            null,
            function(jqEvent) {
                $('#program').modal('show');
                var id = $(this).attr("data-item-id");
                $.ajax({
                    url: "/Student/Item",
                    type: "post",
                    dataType: "json",
                    data: {
                        apId: id
                    },
                    success: function(json) {
                        console.log(json);
                        $('#program').modal('hide');
                        if (json.isOk) {
                            var template = $('#detail-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json.item);
                            $('#application-detail .modal-dialog').html(result);

                            $('#application-detail').modal('show');
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        onMask("错误", `网络接连错误.. ${errorThrown}`);
                    }
                });
            });


        $('#paper-items').on('click',
            '.abandon-exam',
            null,
            function (jqEvent) {
                $('#program').modal('show');

                var pId = $(this).attr('data-item-id');

                $.ajax({
                    url: "/Student/Exit",
                    type: "post",
                    dataType: "json",
                    data: {
                        pId: pId
                    },
                    success: function(json) {
                        console.log(json);
                        $('#program').modal('hide');
                        if (json.isOk) {
                            $("#paper-items").load("/Student/Paper");
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        onMask("错误", `网络接连错误.. ${errorThrown}`);
                    }
                });
            });
    </script>
}
