@model LabExam.Models.StudentViewModel
@{
    ViewData["Title"] = "实验室安全教育在线-学生主页";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<style>
    @@media screen and (min-width:1100px) {
        #student-info {
            margin-left: -25px;
        }
    }
    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: cornflowerblue;
    }
</style>
<div class=" container margin-top-15px ">
    <div class=" padding-15 border-thumali bc-clr-white">
        <div class="row">
            <div class=" col-md-2 col-sm-2" title="想换头像吗？ 不可能的！考个试 有必要换头像吗？">
                <img src="~/Resources/Image/Icon/@Model.HeadPortrait" style="display:block;" class="img-hover-func img-circle img-thumbnail dispaly-center"  width="100">
            </div>
            <div class="col-md-3 col-sm-3" id="student-info">
                <div class="title-student-name padding-top-15px " title="你摸到自己的名字了">
                    <span class="glyphicon glyphicon-user"></span>
                    @Model.Name - 同学 [@Model.StudentId]
                </div>
                <div class=" padding-top-20px ">
                    <span class="glyphicon glyphicon-education"></span>
                    <span class="word-one padding-right-10px" title="看不出来吗 你是@{ @Model.Sex}生欸 (～￣▽￣)→))*￣▽￣*)o">@{ @Model.Sex}</span>

                    <span class="
                            title-name-little">
                        @(Model.Grade)级 @Model.StudentType
                    </span>
                    <span class="glyphicon glyphicon-text-color"></span>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 float-layout">
                <div class=" padding-15 float-right">
                    <div class="follows-item">
                        <b>@(Model.LearningTime)M</b><br />
                        <span>学习时长</span>
                    </div>
                    <div class="follows-item">
                        <b>@(Model.MaxScore)分</b><br />
                        <span>最好成绩</span>
                    </div>
                    <div class="follows-item">
                        <b>@Model.IsPass</b><br />
                        <span>是否通过</span>
                    </div>
                    <div class="follows-item">
                        <b>@Model.ExamTime</b><br />
                        <span>考试次数</span>
                    </div>
                    <div class="follows-item" title="就是说，你申请重考的次数啊！">
                        <b>@Model.ApplicationTime</b><br />
                        <span>申请次数</span>
                    </div>
                    <div class="follows-item">
                        <a href="#" class="capsule "> <span class="glyphicon glyphicon-cog"></span> 个人设置</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container ">
    <div class="margin-top-15px  border-thumali bc-clr-white" data-min-height="1000">
        <nav class="nav-list ">
            <a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> 个人动态</a>
            <a href="#ios" data-toggle="tab"><span class="glyphicon glyphicon-expand"></span>学习课程</a>
            <a href="#jmeter" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span>考试记录</a>
            <a href="#ejb" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> 个人申请</a>
        </nav>
        <div id="myTabContent " class="tab-content padding-15 ">
            <div class="tab-pane fade  in active " id="home">

            </div>
            <div class="tab-pane fade " id="ios">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>所属模块: @ViewBag.ModuleName</small>
                </h4>
                <div id="course-table">
                    
                </div>
            </div>
            <div class="tab-pane fade" id="jmeter">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>
                        考试次数:@Model.ExamTime <span class=" margin-left-15px">最好成绩:</span> <label class=" label label-primary"> @Model.MaxScore</label> 分
                    </small>
                </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>学号</th>
                            <th>通过分数</th>
                            <th>允许考试时间</th>
                            <th>试卷总分</th>
                            <th>考试得分</th>
                            <th>考试时间</th>
                            <th>是否完成</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <label class=" label label-info">1</label></td>
                            <td>2019110418</td>
                            <td>60</td>
                            <td>120M</td>
                            <td>100</td>
                            <td> <label class=" label label-danger">86.5分</label> </td>
                            <td>2019/5/6 12:23:55</td>
                            <td>完成</td>
                        </tr>
                        <tr>
                            <td> <label class=" label label-info">2</label></td>
                            <td>2019110418</td>
                            <td>60</td>
                            <td>120M</td>
                            <td>100</td>
                            <td> <label class=" label label-danger">86.5分</label> </td>
                            <td>2019/5/6 12:23:55</td>
                            <td>完成</td>
                        </tr>
                        <tr>
                            <td> <label class=" label label-info">3</label></td>
                            <td>2019110418</td>
                            <td>60</td>
                            <td>120M</td>
                            <td>100</td>
                            <td> <label class=" label label-danger">86.5分</label> </td>
                            <td>2019/5/6 12:23:55</td>
                            <td>完成</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="ejb">
                <h4 class="title-Splitter text-info margin-top-0px">
                    <small>申请重考次数:1 </small>
                </h4>
                <table class="table table-hover" id="student-list">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>申请学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>专业</th>
                            <th>学院</th>
                            <th>学生年级</th>
                            <th>学生类型</th>
                            <th>申请时间</th>
                            <th class=" text-right ">申请状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class=" label label-primary ">
                                    1
                                </label>
                            </td>
                            <td>
                                2018110418
                            </td>
                            <td>
                                将生
                            </td>
                            <td>
                                男
                            </td>
                            <td>
                                软件工程
                            </td>
                            <td>
                                计算机科学学院
                            </td>
                            <td>
                                2018
                            </td>
                            <td>
                                本科生
                            </td>
                            <td>
                                2018/5/21 15:52
                            </td>
                            <td class=" text-right">
                                <label class=" label label-info">通过</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $("#home").load("/Student/Log");
        $("#course-table").load("/Student/Course");
        
    </script>
}
